<style>
    #i18n-add {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="i18n-add">
    <form class="layui-form" action="" lay-filter="user-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">[[#{lang.key}]]</label>
            <div class="layui-input-block">
                <input type="text" name="key" class="layui-input" lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">[[#{lang.cn}]]</label>
            <div class="layui-input-block">
                <input type="text" name="cn" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">[[#{lang.tw}]]</label>
            <div class="layui-input-block">
                <input type="text" name="tw" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">[[#{lang.en}]]</label>
            <div class="layui-input-block">
                <input type="text" name="en" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">[[#{lang.jp}]]</label>
            <div class="layui-input-block">
                <input type="text" name="jp" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="i18n-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    var addSuccess = "[[#{i18n.add.success}]]";
</script>

<script>
    layui.use(['febs', 'form', 'validate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();
        form.on('submit(i18n-add-form-submit)', function (data) {
            febs.post(ctx + 'i18n/add', data.field, function () {
                layer.closeAll();
                febs.alert.success(addSuccess);
                $('#febs-i18n').find('#query').click();
            });
            return false;
        });
    });
</script>