<div class="layui-fluid layui-anim febs-anim" id="febs-i18n" lay-title="国际化管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="user-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">[[#{lang.key}]]</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="key" id="input_key" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="i18n:add,i18n:update">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="userTable" lay-data="{id: 'userTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="user-option">
    <span shiro:lacksPermission="i18n:view,i18n:update,i18n:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="edit" shiro:hasPermission="i18n:update"><i
            class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del" shiro:hasPermission="i18n:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script>
    var cn = "[[#{lang.cn}]]"
        , en = "[[#{lang.en}]]"
        , tw = "[[#{lang.tw}]]"
        , jp = "[[#{lang.jp}]]"
        , key = "[[#{lang.key}]]"
        , commit = "[[#{common.commit}]]"
        , reset = "[[#{common.reset}]]"
        , cancel = "[[#{common.cancel}]]"
        , _delete = "[[#{common.delete}]]"
        , add = "[[#{i18n.add}]]"
        , del = "[[#{i18n.delete}]]"
        , bizAction = "[[#{biz.action}]]"
        , deleteSure = "[[#{i18n.delete.sure}]]"
        , selectDelItem = "[[#{i18n.select.del.item}]]"
        , deleteSuccess = "[[#{i18n.delete.success}]]"
        , titleEdit = "[[#{title.edit}]]";
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'form', 'table', 'febs'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            treeSelect = layui.treeSelect,
            dropdown = layui.dropdown,
            $view = $('#febs-i18n'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'key', type: null},
            tableIns;
        form.render();
        initTable();
        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('userTable');
                if (name === 'add') {
                    febs.modal.open(add, 'i18n/add', {
                        btn: [commit, reset],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#i18n-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#i18n-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkStatus.data.length) {
                        febs.alert.warn(selectDelItem);
                    } else {
                        febs.modal.confirm(del, deleteSure, function () {
                            var userIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                userIds.push(item.userId)
                            });
                            deleteUsers(userIds.join(','));
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: add,
                perms: 'i18n:add'
            }, {
                name: 'delete',
                title: del,
                perms: 'i18n:delete'
            }]
        });

        table.on('tool(userTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm(_delete, deleteSure, function () {
                    deleteItem(data.key);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open(titleEdit, 'i18n/update/' + data.key, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: [commit, cancel],
                    yes: function (index, layero) {
                        $('#i18n-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(userTable)', function (obj) {
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'userTable',
                url: ctx + 'i18n/list',
                cols: [[{type: 'checkbox'},
                    {field: 'key', title: key},
                    {field: 'cn', title: cn},
                    {field: 'tw', title: tw},
                    {field: 'en', title: en},
                    {field: 'jp', title: jp},
                    {title: bizAction, toolbar: '#user-option', minWidth: 140}]]
            });
        }

        function getQueryParams() {
            return {
                key: $searchForm.find('input[name="key"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }

        function deleteItem(key) {
            febs.get(ctx + 'i18n/delete/' + key, null, function () {
                febs.alert.success(deleteSuccess);
                $query.click();
            });
        }
    })
</script>